<section class="education">
  <h1 id="education_title">Education</h1>
  <div id="education_body" *ngFor="let edu of education">
    <p id="education_date">{{edu.fecha}}</p>
    <p id="education_faculty">{{edu.faculty}}</p>
    <p id="education_university">{{edu.university}}</p>
    <p></p>
  </div>
</section>

<!--
<h3>Education</h3>

<table border="0">
  <ul *ngFor="let edu of education">
    <li>
      <tr>
        <td>{{ edu.fecha }}</td>
        <td>{{ edu.faculty }}</td>
        <td>{{ edu.university }}</td>
      </tr>
    </li>
  </ul>
</table>
-->