<section class="header">
  <div id="about_me">
    <p id="name">Jesus Contreras</p>
    <p id="profession">Full Stack Developer, Angular Specialist</p>
    <p id="objetive">
      Comprometido con desarrollar aplicaciones eficientes y escalables,
      mejorando la experiencia del usuario a través de la tecnología moderna
    </p>
  </div>
  <div id="profile_picture">
    <img src="assets/images/profile.jpg" alt="profile picture" id="profile_img">
  </div>
  <div id="my_data">
    <p id="email">
        yisus.abraham.26&#64;gmail.com
        <img src="assets/images/gmail.png" alt="email icon" class="icon">
    </p>
    <p id="phone">
        271-177-84-57
        <img src="assets/images/phone.png" alt="phone icon" class="icon">
    </p>
    <p id="address">
        Cordoba, Ver.
        <img src="assets/images/alfiler.png" alt="address icon" class="icon">
    </p>
    <p id="github">
        IngEnigma
        <img src="assets/images/github.png" alt="github icon" class="icon">
    </p>
  </div>
</section>
