.lenguages{
    background-color: #f4f2ff;
    width: 450px;
    height: 170px;
}

#lenguages_title{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
}

#lenguages_items{
    padding-left: 20px;
    padding-bottom: 5px;
    display: flex;
    gap: 8px;
}

#item{
    margin: 0;
    font-size: 15px;
    padding-bottom: 5px;
}

#cuadradito{
    margin: 0px;
    background-color: #7121e8;
    border-radius: 3px;
    width: 15px;
    height: 15px;
}