<section class="header">
    <app-header></app-header>
</section>

<section class="body">
    <div id="left_side">
        <div id="work_experience">
            <app-work-experience></app-work-experience>
        </div>
        <div id="education">
            <app-education></app-education>
        </div>
        <div id="interests">
            <app-interests></app-interests>
        </div>
    </div>
    <div id="right_side">
        <div id="skills">
            <app-skills></app-skills>
        </div>
        <div id="achivements">
            <app-achivements></app-achivements>
        </div>
        <div id="lenguages">
            <app-lenguages></app-lenguages>
        </div>
    </div>
</section>