@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html, body {
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 95px;
}

.body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 900px;
  height:550px;
}